useDynLib("Numero")

export("nroAggregate")
export("nroColorize")
export("nroDestratify")
export("nroKohonen")
export("nroKmeans")
export("nroImpute")
export("nroLabel")
export("nroMatch")
export("nroPair")
export("nroPermute")
export("nroPlot")
export("nroPlot.save")
export("nroPostprocess")
export("nroPreprocess")
export("nroRcppMatrix")
export("nroStatistic")
export("nroSummary")
export("nroTrain")
export("numero.clean")
export("numero.create")
export("numero.evaluate")
export("numero.plot")
export("numero.prepare")
export("numero.quality")
export("numero.subgroup")
export("numero.summary")

importFrom("Rcpp", "evalCpp")
